body {
    background-color: black;
    margin: 0;
    height: 100%;
    width: 100%;
    cursor: crosshair;
    background: url(back.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body::before {
    content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom right,#000,#151515);
		opacity: .9; 
  }


.container {
    position: absolute;
    top: 150;
    left: 100;
}


.spinning {
    -webkit-animation: spinCubeWebkit 8s infinite ease-in-out;
    -moz-animation: spinCubeMoz 8s infinite ease-in-out;
    -o-animation: spinCubeO 8s infinite ease-in-out;
    animation: spinCube 8s infinite ease-in-out;
}


.right:hover {
    cursor: e-resize;
}
.top:hover {
    cursor: n-resize;
}
.bottom:hover {
    cursor: s-resize;
}
.left:hover {
    cursor: w-resize;
}
.left {
    position: fixed;
    border: 5px solid yellow;
    top: 0;
    left: 0;
    height: 100%;
    width: 25%;
    z-index: 3;
    
}

.right {
    position: fixed;
    border: 5px solid red;
    top: 0;
    right: 0;
    height: 100%;
    width: 25%;
    z-index: 3;
}

.top {
    position: fixed;
    border: 5px solid green;
    top: 0;
    left: 0;
    height: 25%;
    width: 100%;
    z-index: 2;
}

.bottom {
    position: fixed;
    border: 5px solid blue;
    bottom: 0;
    left: 0;
    height: 25%;
    width: 100%;
    z-index: 2;
}
